.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

.user-initials {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1877f2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  margin-left: 12px;
}