<!DOCTYPE html>
<html th:fragment="thymeleaf-header"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

    <!-- arrow-right-filled -->
    <svg th:fragment="arrow-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
    </svg>

    <!-- Friend requests accordion -->
    <div th:fragment="accordion-placeholder" class="row m-3 p-3 rounded align-items-center">
        <p  class="col text-center" style="font-size:13px; color: gray">Nothing here at the moment</p>
    </div>


    <p th:fragment="timeAgo(timestamp)" th:text="${#temporals.format(timestamp, 'EEEE d MMM')}"></p>

    <!-- navbar -->
    <nav th:fragment="nav-bar (currentPage)" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Acebook</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:if="${currentPage} == 'Posts'" class="nav-link" >Home</a>
                        <a th:unless="${currentPage} == 'Posts'" class="nav-link" href="/posts">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentPage} == 'My Profile'" class="nav-link" >My Profile</a>
                        <a th:unless="${currentPage} == 'My Profile'" class="nav-link" href="/profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentPage} == 'Friends'" class="nav-link" >Friends</a>
                        <a th:unless="${currentPage} == 'Friends'" class="nav-link" href="/friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentPage} == 'Account Settings'" class="nav-link" >Account Settings</a>
                        <a th:unless="${currentPage} == 'Account Settings'" class="nav-link" href="/settings">Account Settings</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentPage} == 'Logout'" class="nav-link" >Logout</a>
                        <a th:unless="${currentPage} == 'Logout'" class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()">
                    <!-- th:with="avatarFile=${user.id} + '.jpg'" -->
                    <!-- th:src="@{'../images/userAvatars/' + ${avatarFile}}" -->
                    <div class="user-avatar" th:if="${user.avatar != null}" th:with="avatarFile=${user.id} + '.jpg'">
                        <img th:src="@{'../images/userAvatars/' + ${avatarFile}}" alt="User Avatar" class="avatar-img">
                    </div>
                    <!-- Fallback if no avatar -->
                    <div class="user-initials" th:if="${user.avatar == null}">
                        <span th:text="${#strings.substring(#authentication.principal.attributes['email'], 0, 1).toUpperCase()}">U</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>





<script th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>


