<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Account Settings</title>
  <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>

<body>

<nav th:replace="_fragments :: nav-bar"></nav>

  <div class="container mt-4">

  <form th:object="${user}" id="add-user-form" method="post" enctype="multipart/form-data">

    <div class="text-center" th:with="avatarFile=${user.avatar == null}  ? 'placeholder' : ${user.avatar}">
      <img id="imagePreview" src="../static/images/userAvatars/9.jpg"
           th:src="@{'../images/userAvatars/' + ${avatarFile} + '.jpg'}" class="rounded-circle mx-auto"
           style="width: 240px; height: 240px; object-fit: cover;" alt="Default Avatar">
    </div>


    <div class="row mt-5">
        <div class="col-6 mb-3">
          <label for="firstNameInput" class="form-label" >First Name</label>
          <input type="text" class="form-control" id="firstNameInput" placeholder="" th:field="*{firstName}" value="Amelia"
                 th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''">
          <p class="invalid-feedback" th:errors="*{firstName}">Invalid data</p>
        </div>

      <div class="col-6 mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" th:field="*{lastName}" value="Dog"
               th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''">
        <p class="invalid-feedback" th:errors="*{lastName}">Invalid data</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label for="usernameInput" class="form-label" >Username</label>
        <input type="text" class="form-control" id="usernameInput" placeholder="dog@ex.com"  th:value="${user.username}" readonly disabled>
      </div>
      <div class="col-6">
        <label for="playerBirthDate" class="form-label">Date of birth</label>
        <input type="date" class="form-control" id="playerBirthDate" placeholder="" th:field="*{dob}" value=""
               th:classappend="${#fields.hasErrors('dob')} ? 'is-invalid' : ''">
        <p class="invalid-feedback" th:errors="*{dob}">Invalid data</p>
      </div>
      <div class="col">
        <label for="profilePicture" class="form-label">Profile Picture</label>
        <input type="file" accept="image/*" id="profilePicture" name="file"
               class="form-control mx-auto">
      </div>
    </div>


    <div class="row">
      <br>
    </div>

    <div class="row">

      <div class="col-2">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>

      <div class="col-3 offset-7 text-right">
        <div class="text-end">
          <button class="btn btn-danger float-right" type="submit" disabled>Delete Forever</button>
        </div>
      </div>


    </div>

  </form>
</div>
  <script>
  </script>
  <script th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>